.page-footer
  .container
    p 
      ' This is a demo app for <a href="https://github.com/cantierecreativo/admino">Admino</a>. Proudly made in <a href="http://cantierecreativo.net">Cantiere Creativo</a>.

